/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]:checked ~ svg {
  border-color: #F9A8D4;
  filter: var(--tw-saturate);
  --tw-saturate: saturate(1);
}
